<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mappers.TicketsMapper">
<!--    //添加新的旅游票对象-->
    <insert id="createTicket">
        insert into `tickets` (goods_id,image,title,price,province,city,`type`,stocks) values
        (#{ticketBean.goods_id},#{ticketBean.image},#{ticketBean.title},
         #{ticketBean.price},#{ticketBean.province},#{ticketBean.city},#{ticketBean.type},#{ticketBean.stocks})
    </insert>
<!--    //删除旅游票对象-->
    <delete id="removeTicket">
        delete from `tickets` where `goods_id`=#{goods_id}
    </delete>
<!--    //获取所有的旅游票对象-->
    <select id="getAllTickets" resultType="com.example.demo.bean.TicketBean">
        select * from `tickets`
    </select>

<!--    //修改旅游票对象-->
    <update id="updateTicket">

    </update>

<!--    获取景点类型选择器下拉框的数据-->
    <select id="getScenic_spot_type" resultType="java.lang.String">
        select distinct `type` from `tickets`
    </select>

<!--    按景点名称搜索-->
    <select id="getTicketsByName" resultType="com.example.demo.bean.TicketBean">
        select * from `tickets`
        where `title` like "%"#{name.name}"%"
    </select>

<!--    //按地名搜索-->
    <select id="getTicketsByZone" resultType="com.example.demo.bean.TicketBean">
        select * from `tickets`
        where `province` = #{zone} or `city` = #{zone}
    </select>

<!--    //按类型搜索-->
    <select id="getTicketsByType" resultType="com.example.demo.bean.TicketBean">
        select * from `tickets`
        where  `type` = #{ticketType}
    </select>
</mapper>

